<form method="post">
    <div class="row">
    <div class="col">
        <label for="exampleInputName1">Name</label>
      <br>
    </br>
        <input type="text" class="form-control" id="exampleInputName1" placeholder="Your Name">
       </div>
    <div class="col">
      
      <label for="exampleInputEmail1">Email ID</label>
      <br>
    </br>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
   
    </div>
  </div>
  <div class="form-group">
    
    
  </div>
  <br>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <br>
    <br>
    <textarea class="form-control" placeholder="Enter Your Message Here !!" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br>
<center>
  <button type="submit" class="btn btn-primary">Submit</button>
  </center>
</form>