<form method="post">

{{#each errorMessages}}
<div class="alert alert-danger">
  {{this.msg}}
</div>
{{/each}}

    <div class="row">
    <div class="col">
        <label for="name">Name</label>
      <br>
    </br>
        <input type="text"  name="name" class="form-control" id="name" placeholder="Your Name" value={{name}}>
       </div>
    <div class="col">
      
      <label for="exampleInputEmail1">Email ID</label>
      <br>
    </br>
    <input type="email"  name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" value={{email}}>
   
    </div>
  </div>
  <div class="form-group">
    
    
  </div>
  <br>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Message</label>
    <br>
    <br>
    <textarea name="message" class="form-control" value={{message}} placeholder="Enter Your Message Here !!" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <br>
<center>
  <button type="submit" class="btn btn-primary">Submit</button>
  </center>
</form>