<div>
    <div class="row">
        <div class="col-md-8">
            <textarea id="code-screen"></textarea>

        </div>
        <div class="col-md-4" id="chatbox">

        </div>
    </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/codemirror.min.js" integrity="sha512-4DlmQ+aBOfYTZ3uzRKCDXdyL7y8IlopnVChhXG0pRFgyvhwONVQW3JX8e5DYoXUNr3evQpLZz7S3O1XxMH4WKA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.64.0/mode/javascript/javascript.min.js" integrity="sha512-DJ/Flq7rxJDDhgkO49H/rmidX44jmxWot/ku3c+XXEF9XFal78KIpu7w6jEaQhK4jli1U3/yOH+Rp3cIIEYFPQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>
    var editor=CodeMirror.fromTextArea(document.getElementById("code-screen"),{
        lineNumbers:true,
        theme:"monokai"
    });
</script>